
<div class="list-people">
  <div class="bar-list-people">
    <div class="search-people">
      <form action="">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm">
          <div class="input-group">
            <div class="input-group-prepend">
              <button id="button-addon2" type="submit" class="btn btn-link text-dark"><i class="fa fa-search"></i></button>
            </div>
            <input type="search" placeholder="Tìm kiếm" aria-describedby="button-addon2" class="form-control border-0 bg-light">
          </div>
        </div>
      </form>
    </div>
    <div class="add-people">
      <button class="btn btn-outline add-new-people" data-toggle="modal" data-target="#add-someone" type="button">
        <i class="fas fa-user-plus" style="font-size: 18px;"></i>
      </button>
      <!-- Modal -->
       {{>modal-add-people}} 
    </div>
    <div class="add-many-people ">
      <button class="btn btn-outline add-new-group" data-toggle="modal" data-target="#add-group-chat" type="button">
        <i class="fas fa-users fa-lg"></i>
      </button>
      <div class="modal fade" id="add-group-chat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add group</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <hr style="width: 90%">
</div>