	<div class="limiter">
		<div class="container-login100" style="background-image: url('/img/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-40 p-b-40">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-20">
						Đăng nhập
					</span>
					<div class="error">
						<div class="alert alert-danger" role="alert">
							This is a danger alert—check it out!
						</div>
					</div>
					<div class="wrap-input100 m-b-23">
						<span class="label-input100">Email:</span>
						<input class="input100" type="text" name="email" placeholder="Nhập email...">
						{{!-- <span class="focus-input100" data-symbol="&#xf2b9;"></span> --}}
					</div>

					<div class="wrap-input100">
						<span class="label-input100">Mật khẩu:</span>
						<input class="input100" type="password" name="pass" placeholder="Nhập mật khẩu...">
						{{!-- <span class="focus-input100" data-symbol="&#xf190;"></span> --}}
					</div>
					
					<div class="text-right p-t-8 p-b-15">
						<a href="#">
							Quên mật khẩu?
						</a>
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Đăng nhập
							</button>
						</div>
					</div>

					<div class="txt1 text-center p-t-30 p-b-10">
						<span>
							Hoặc đăng nhập bằng
						</span>
					</div>
					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#" class="login100-social-item bg3">
							<i class="fab fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-10">
						<p>Nếu chưa có tài khoản ?
						<a href="/signup"> Đăng ký</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="dropDownSelect1"></div>
