	<div class="login-register">
		<div class="container-login100" style="background-image: url('/img/bg-01.jpg');">
      <div class="title-app">
        <h1>Welcome To HD Chat</h1>
      </div>
      <hr>
      <div class="information-app">
        <h4>Author:</h4>&nbsp
        <h4>Hoàng Khai Diễn</h4>
      </div>
      <div class="button-login-register">
        <div class="button-login btn-app">
          <a href="/login" class="btn btn-primary">Đăng Nhập</a>
        </div>
        <div class="button-signup btn-app">
          <a href="/signup" class="btn btn-outline-dark">Đăng Ký</a>
        </div>
		</div>
	</div>
	<div id="dropDownSelect1"></div>
