<div class="nav">
  <div class="row">
    <div class="message toolbar col-12">
      <a href=""><i class="fas fa-comment-dots"></i></a>
    </div>
    <div class="phonebook toolbar col-12">
      <a href=""><i class="far fa-address-book"></i></a>
    </div>
    <div class="notification toolbar col-12">
      <a href=""><i class="far fa-bell"></i></a>
    </div>
  </div>
</div>