<div class="modal fade" id="modal-setup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cài đặt</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body body-setup">
        <label for="">Trạng thái : </label>
        <select class="check-status-account">
          <option value="online">Trực tuyến</option>
          <option value="busy">Đang bận</option>
          <option value="offline">Tắt trò chuyện</option>
        </select>
      </div>
    </div>
  </div>
</div>