<div class="notification-message" style="display: none;" id="notification-id">
  <div class="title-notifi">
    <h6>Thông báo</h6>
  </div>
  <div class="message-all">
    {{!-- notification contact --}}
    {{#if notifsByUser}}
    {{#each notifsByUser as |notifByUser|}}
      {{{notifByUser}}}
    {{/each}}
    {{/if}}
  </div>
</div>